.box {
  .header {
    text-align: center;
    overflow: hidden;
    .title {
      font-size: 2em;
      text-shadow: rgba(255, 255, 255, 0.8) 5px
        5px 5px;
    }
    margin-top: 35px;
  }
  .content {
  }
}
